<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Formulario Alumno</title>
</head>
<body>

	<form th:action="@{/alumno/procesar}" th:object="${alumno}" method="post">
		<input type="hidden" th:field="*{id}" />
		<p>
			Nombre: <input type="text" th:field="*{nombre}" />
			<span style="color: red;" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" />
		</p>
		<p>
			Fecha Nacimiento: <input type="date" th:field="*{fechaNacimiento}" />
			<span style="color: red;" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" />
		</p>
		<button type="submit">Guardar</button>
	</form>

	<a th:href="@{/}">volver al inicio</a>
</body>
</html>