<!DOCTYPE html>
<html>
<head data-th-replace="parts/header :: header(~{::title}, _)">
	<meta charset="UTF-8" />
	<title>Ingreso</title>
</head>
<body>

	<div data-th-replace="parts/header :: menu"></div>

	<div data-th-if="param.error">
		Usuario y/o contraseña incorrecto(s)!!!
	</div>

	<form method="post" data-th-action="@{/ingreso}">
		<input type="text" name="username" />
		<input type="password" name="password" />
		<button type="submit">Ingresar</button>
	</form>

	<div data-th-replace="parts/header :: scripts"></div>
</body>
</html>