<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Form. Subida Archivos</title>
</head>
<body>

	<div class="row">
		<div data-th-each="producto : ${productos}" class="col">
			<h2 data-th-text="${producto.nombre}"></h2>
			<img data-th-src="@{/producto/img/{id}(id=${producto.id})}" />
			<span data-th-text="${producto.precio}" />
		</div>		
	</div>

	<h1>Subida de Archivos</h1>
	
	<form 	data-th-action="@{/producto}" 
			data-th-object="${producto}" 
			enctype="multipart/form-data" 
			method="post"
	>
		Nombre: <input type="text" data-th-field="*{nombre}" /><br />
		Precio: <input type="number" data-th-field="*{precio}" /><br />
		<input type="file" name="archivo" />
		<button type="submit">Crear Producto</button>
	</form>

</body>
</html>