<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<div data-th-fragment="menu">
		<ul>
			<li>
				<a data-th-href="@{/}">Inicio</a>
			</li>
			<li>
				<a data-th-href="@{/ingreso}">Login</a>
			</li>
			<li>
				<a data-th-href="@{/aviso/crear}">Publicar Aviso</a>
			</li>
			<li>
				<a data-th-href="@{/empresa/registro}">Registro Empresas</a>
			</li>
			<li>
				<a data-th-href="@{/postulante/registro}">Registro Postulantes</a>
			</li>
			<li>
				<a data-th-href="@{/postulante/panel}">Mi Panel</a>
			</li>
			<li>
				<a data-th-href="@{/empresa/panel}">Mi Panel</a>
			</li>
			<li>
				<a data-th-href="@{/salir}">Logout</a>
			</li>
		</ul>
		Bienvenido: <span data-sec-authentication="name">Usuario</span><br />
		Roles: <span data-sec-authorize="isAuthenticated()" data-sec-authentication="principal.authorities[0]">[ROLE_USER, ROLE_ADMIN]</span>
	</div>
</body>
</html>