<!DOCTYPE html>
<html>
<head data-th-replace="fragmentos/head :: cabecera(~{::title}, _)">
	<meta charset="UTF-8" />
	<title>Ingreso</title>
</head>
<body class="container text-center">

	<main class="form-signin w-100 m-auto">
			
		<div data-th-if="${param.error}" class="alert alert-danger" role="alert">
  			Usuario y/o contraseña incorrecta.
		</div>
			
		<form data-th-action="@{/ingreso}" method="post">
			<img class="mb-4" data-th-src="@{/img/logo.jpg}" alt="" height="200" />
			
			<h1 class="h3 mb-3 fw-normal">Ingreso</h1>

			<div class="form-floating mb-2">
				<input type="text" class="form-control" id="floatingInput" name="username"
					placeholder="name@example.com"> <label for="floatingInput">Usuario</label>
			</div>
			<div class="form-floating mb-4">
				<input type="password" class="form-control" id="floatingPassword" name="password"
					placeholder="Password"> <label for="floatingPassword">Contraseña</label>
			</div>
			
			<button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
			<p class="mt-5 mb-3 text-muted">© 2017–2022</p>
		</form>
	</main>

</body>
</html>